## Tuple()

In [1]:
## Same as List[] (preserved, duplicates allowed and Heterogenous allowed) but Tuple is fixed once it's created. i.e,
## Immutable

In [6]:
T=(1,True,'Karthik','')

In [7]:
print(T)

(1, True, 'Karthik', '')

In [8]:
T

(1, True, 'Karthik', '')

In [11]:
T=T*2

In [12]:
T

(1,
 True,
 'Karthik',
 '',
 1,
 True,
 'Karthik',
 '',
 1,
 True,
 'Karthik',
 '',
 1,
 True,
 'Karthik',
 '',
 1,
 True,
 'Karthik',
 '',
 1,
 True,
 'Karthik',
 '',
 1,
 True,
 'Karthik',
 '',
 1,
 True,
 'Karthik',
 '')

In [13]:
T1=(1,True,'Karthik','')

In [14]:
T1

(1, True, 'Karthik', '')

In [15]:
T1[3]

''

In [16]:
T1[4]=1

TypeError: 'tuple' object does not support item assignment

In [17]:
T1[3]=1

TypeError: 'tuple' object does not support item assignment

In [18]:
T1*2
print(T1)

(1, True, 'Karthik', '')

In [19]:
T1

(1, True, 'Karthik', '')

In [20]:
T1*2

(1, True, 'Karthik', '', 1, True, 'Karthik', '')

In [21]:
T1

(1, True, 'Karthik', '')

In [22]:
T1=T1*2

In [23]:
T1

(1, True, 'Karthik', '', 1, True, 'Karthik', '')